@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img,
video {
    object-fit: cover;
}

body {
    opacity: 0;
    transition: opacity 0.9s ease;
}

.book-now {
    color: rgb(255, 255, 255);
    background-color: #FFC107;
}

.book-now:hover {
    color: #ff9307;
    background-color: rgb(233, 224, 206);
}
.unorder {
    line-height: 60px;
}

.menubar i {
    font-size: 30px;
}

.contact-box {
    width: 60%;
}

.contact-form {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(../images/Homepage-jumbotron.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    height: auto;
}

.contact-info {
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)), url(../images/Rectangle\ 57.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    height: 300px;
}


.footer-section {
    background-color: #241E09;
}

.star-hotel {
    width: 200px;
}

@media (min-width:992px) {
    .form1 {
        width: 84%;
    }
}